In [14]:
from pandas_ods_reader import read_ods
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
hcdata = read_ods('HC-Data.ods', 'Sheet1')

In [16]:
hcdata.dtypes

Date     object
H1      float64
H2      float64
H3      float64
H4      float64
H5      float64
H6      float64
H7      float64
H8      float64
H9      float64
H10     float64
H11     float64
H12     float64
H13     float64
H14     float64
H15     float64
H16     float64
dtype: object

In [17]:
hcdata.head()

,Date,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10,H11,H12,H13,H14,H15,H16
0,2020-11-23,46.0,45.0,52.0,39.0,41.0,50.0,57.0,53.0,55.0,55.0,46.0,21.0,21.0,21.0,14.0,22.0
1,2020-11-24,41.0,41.0,46.0,46.0,47.0,47.0,68.0,60.0,69.0,62.0,57.0,52.0,47.0,49.0,62.0,71.0
2,2020-11-25,39.0,38.0,45.0,45.0,46.0,45.0,66.0,64.0,62.0,59.0,52.0,44.0,52.0,44.0,51.0,58.0
3,2020-11-26,39.0,39.0,44.0,45.0,46.0,46.0,66.0,63.0,67.0,62.0,53.0,48.0,48.0,47.0,57.0,69.0
4,2020-11-27,34.0,34.0,40.0,40.0,42.0,42.0,53.0,52.0,51.0,51.0,52.0,49.0,45.0,38.0,47.0,57.0

In [18]:
def resample(T, available_freq, desired_freq):
    factor = int(available_freq/desired_freq)

    T1 = [[n] * factor for n in T]
    T2 = [int(n) for sublist in T1 for n in sublist]

    return T2

In [19]:
hcdata.iloc[0, :][1:]

H1     46
H2     45
H3     52
H4     39
H5     41
H6     50
H7     57
H8     53
H9     55
H10    55
H11    46
H12    21
H13    21
H14    21
H15    14
H16    22
Name: 0, dtype: object

In [20]:
import datetime
dt = datetime.date.fromisoformat(hcdata.iloc[1,:][0])

In [21]:
dt.weekday()

1

In [22]:
desired_freq = 3

In [23]:
agent_count = resample(hcdata.iloc[0,:][1:], 30, desired_freq)
Period = [hcdata.iloc[0,:][0]] * len(agent_count)

In [24]:
agent_count = []
period = []
isoday_of_week = []
for i in range(hcdata.shape[0]):
    X = resample(hcdata.iloc[i,:][1:], 30, desired_freq)
    Y = [hcdata.iloc[i,:][0]] * len(X)
    dt = datetime.date.fromisoformat(hcdata.iloc[i,:][0])
    Z = [dt.isoweekday()] * len(X)
    agent_count.append(X)
    period.append(Y)
    isoday_of_week.append(Z)

In [25]:
agent_count = [ac for sublist in agent_count for ac in sublist]

In [26]:
period = [p for sublist in period for p in sublist]
isoday_of_week = [d for sublist in isoday_of_week for d in sublist]

In [27]:
len(agent_count)

800

In [28]:
len(period)

800

In [29]:
X = resample(hcdata.iloc[0,:][1:], 30, desired_freq)
len(X)

160

In [30]:
A = pd.DataFrame({'Period': period, 'agent_count': agent_count, 'isoday_of_week': isoday_of_week})

In [31]:
B = pd.read_csv('consolidated-1.csv')

In [32]:
A.dtypes

Period            object
agent_count        int64
isoday_of_week     int64
dtype: object

In [33]:
B.dtypes

Create-time         object
ncalls               int64
Avg-time           float64
Period              object
nagents              int64
office-hour           bool
Avg-calls          float64
iso_day_of_week      int64
dtype: object

In [34]:
A.shape

(800, 3)

In [35]:
A.head()

       Period  agent_count  isoday_of_week
0  2020-11-23           46               1
1  2020-11-23           46               1
2  2020-11-23           46               1
3  2020-11-23           46               1
4  2020-11-23           46               1

In [36]:
C = A[A['isoday_of_week'] < 6]

In [37]:
C.shape

(800, 3)

In [38]:
C[['Period', 'agent_count']].groupby('Period').count()

            agent_count
Period
2020-11-23          160
2020-11-24          160
2020-11-25          160
2020-11-26          160
2020-11-27          160

In [39]:
C.to_csv('HC-Data-1.csv', index=False)

**Important**
Create the file 'consolidated-2.csv' manually from 'consolidated-1.csv' and 'HC-Data-1.csv'. Use 'consolidated-2.csv' for the final analysis.