I will find out how many people were available on the floor every day. The call centre does not work round the clock. Neither does it have high volumes round the clock. Therefore, there is no harm in assuming that it has the same number of people as it has in 9-5 shift all through out the day. The periods during which this assumption is not valid are unimportant from a modelling perspective at this preliminary stage.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [3]:
data = pd.read_csv('small-sample.csv')

In [4]:
data.head()

,Period,Media,Channel,Queue,Transaction,Origination,Customer,Case Number,Web Callback,Create time,...,Abandon-time,Voice mail left,IVR-Treatment-Time,Hold-Max,Hold-Count,Hold-Total,PDD-Leg 1,PDD-Leg 2,AT-Leg 1,AT-Leg 2
0,18/07/2020,Email,customerservices@peoplesenergy.co.uk,Cancellations (2h),657601,keith.m.rowling@gmail.com,"(last name not available), Switchcraft",169337.2,NaN,18/07/2020 07:06:07,...,NaN,NaN,0:00:00,0:00:00,0,0:00:00,0:00:00,0:00:00,0:00:00,0:00:00
1,18/07/2020,Email,customerservices@peoplesenergy.co.uk,Cancellations (2h),657686,kay.upcott@icloud.com,"Upcott, Kay",168705.2,NaN,18/07/2020 07:56:51,...,NaN,NaN,0:00:00,0:00:00,0,0:00:00,0:00:00,0:00:00,0:00:00,0:00:00
2,18/07/2020,Email,customerservices@peoplesenergy.co.uk,Cancellations (2h),657705,kezp1@hotmail.co.uk,"PRICE, KELLY",170233.0,NaN,18/07/2020 08:02:12,...,NaN,NaN,0:00:00,0:00:00,0,0:00:00,0:00:00,0:00:00,0:00:00,0:00:00
3,18/07/2020,Email,customerservices@peoplesenergy.co.uk,Cancellations (2h),657732,cazsheru63@hotmail.co.uk,"kelly, caroline",170245.0,NaN,18/07/2020 08:11:37,...,NaN,NaN,0:00:00,0:00:00,0,0:00:00,0:00:00,0:00:00,0:00:00,0:00:00
4,18/07/2020,Email,customerservices@peoplesenergy.co.uk,Cancellations (2h),657758,collisaugustine1303@gmail.com,"Augustine, Collis",170263.0,NaN,18/07/2020 08:19:44,...,18/07/2020 09:38:37,NaN,0:00:00,0:00:00,0,0:00:00,0:00:00,0:00:00,0:00:00,0:00:00

In [6]:
data[['Period','Agent']].groupby(['Period']).nunique()

            Agent
Period
18/07/2020     14

In [7]:
data = pd.read_excel('Call-receive-data.xlsx')

In [8]:
nagents = data[['Period', 'Agent']].groupby(['Period']).nunique()

In [9]:
nagents

               Agent
Period
01/09/2020        53
02/09/2020        49
03/08/2020        46
03/09/2020        44
04/08/2020        45
...              ...
30/07/2020        37
31/07/2020        33
31/08/2020        32
Day Sub Total      0
Grand Totals       0

[67 rows x 1 columns]